<div class="test-plugin">
	<p>Hello <b>{{name}}</b>. Make your todo list!</p>

	<div class="addInput">
		<input type="text" placeholder="{{placeholder}}">
		<button>Add todo</button>
	</div>

	<ul></ul>
</div>

